In [18]:
import pandas as pd
import numpy as np

In [19]:
encodings_to_try = ['utf-8-sig', 'latin-1', 'ISO-8859-1']

for encoding in encodings_to_try:
    try:
        data1 = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/Accounts 360 202311 CSV.csv", encoding=encoding)
        break
    except UnicodeDecodeError:
        continue

C:\Users\15694\AppData\Local\Temp\ipykernel_34328\3161087394.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/Accounts 360 202311 CSV.csv", encoding=encoding)

In [5]:
data1.head(10)

,PROD_ID,CIFNO,ACCOUNT_NO,ACCOUNT_STATUS,PRODUCT_DESC,SUB_PRODUCT_DESC,BAL_OS,AVG_BAL,LAST_TRAN_DATE,TOTAL_CR,...,DPD_LAST_6_MONTH,NPA_CATEGORY_LAST_6_MONTH,LATEST_NPA_DATE,LIMIT_AMOUNT,INCENTIVE_AMT,SCHM_CODE,SCHM_DESC,PRODUCT_GROUP,SBU_ID,MATURITY_DATE
0,2,998101782755,103020266468,D,Savings,SAVINGS - GENERAL,0.00,0.00,2/20/2018,0.00,...,NaN,NaN,NaN,NaN,NaN,SAGEN,SAVINGS ACCOUNT GENERAL,NaN,10,NaN
1,2,998101242090,098300061951,NaN,Savings,SAVINGS MAJOR INVESTMENT,5132.92,5120.87,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
2,2,998101585644,039810184310,A,Savings,SAVINGS - FCY,22.93,22.93,5/25/2022,0.00,...,NaN,NaN,NaN,NaN,NaN,SRFC,SA-PFCA,PFCA,10,NaN
3,2,998000137604,043020127622,A,Savings,SAVINGS - MINOR,1042.50,1039.98,1/11/2009,3.03,...,NaN,NaN,NaN,NaN,NaN,SAMI3,SAVINGS ACCOUNT TEEN,NaN,10,NaN
4,2,998R00652174,080020298762,A,Savings,SAVINGS - MINOR,1005.43,1001.59,10/25/2023,4.61,...,NaN,NaN,NaN,NaN,NaN,SAMI1,SINGITHI KIRIKATIYO,NaN,10,NaN
5,2,998R00650624,212020090101,A,Savings,SAVINGS - MINOR,100.42,100.16,10/20/2023,0.31,...,NaN,NaN,NaN,NaN,NaN,SAMI2,SINGITHI LAMA ACCOUNT,NaN,10,NaN
6,2,998100738214,083020164271,A,Savings,SAVINGS - GENERAL,21073.54,21041.61,8/24/2023,38.32,...,NaN,NaN,NaN,NaN,NaN,SAGEN,SAVINGS ACCOUNT GENERAL,NaN,10,NaN
7,2,998R00673750,220020047575,A,Savings,SAVINGS - OTHERS,21.00,289.67,11/10/2023,1550.00,...,NaN,NaN,NaN,NaN,NaN,SA002,SAVINGS -ADISHTANA -2,NaN,10,NaN
8,2,998101075169,045020236169,D,Savings,SAVINGS - OTHERS,0.00,0.00,5/18/2015,0.00,...,NaN,NaN,NaN,NaN,NaN,SMG47,AC MIGRATED TO ANGUNUKOLA,NaN,10,NaN
9,2,998101754823,107020239365,A,Savings,SAVINGS - GENERAL,1101.42,176.25,11/30/2023,17900.00,...,NaN,NaN,NaN,NaN,NaN,SAGEN,SAVINGS ACCOUNT GENERAL,NaN,10,NaN

In [24]:
data1.shape

(4549301, 39)

In [25]:
data1.columns

Index(['PROD_ID', 'CIFNO', 'ACCOUNT_NO', 'ACCOUNT_STATUS', 'PRODUCT_DESC',
       'SUB_PRODUCT_DESC', 'BAL_OS', 'AVG_BAL', 'LAST_TRAN_DATE', 'TOTAL_CR',
       'TOTAL_DR', 'NO_CR', 'NO_DR', 'NET_FEE_INCOME', 'NET_INTEREST_INCOME',
       'CURRENCY_CD', 'BRANCH_CD', 'BRANCH_NAME', 'REGION_CD', 'REGION_NAME',
       'YEARMON', 'SUB_PROD_ID', 'ACCOUNT_JOINT', 'NO_OF_CHQ_RTN',
       'AMOUNT_OF_CHQ_RTN', 'DPD', 'NPA_CATEGORY', 'DPD_LAST_3_MONTH',
       'NPA_CATEGORY_LAST_3_MONTH', 'DPD_LAST_6_MONTH',
       'NPA_CATEGORY_LAST_6_MONTH', 'LATEST_NPA_DATE', 'LIMIT_AMOUNT',
       'INCENTIVE_AMT', 'SCHM_CODE', 'SCHM_DESC', 'PRODUCT_GROUP', 'SBU_ID',
       'MATURITY_DATE'],
      dtype='object')

In [10]:
data1.isna().sum()

PROD_ID                            0
CIFNO                              0
ACCOUNT_NO                         0
ACCOUNT_STATUS                 28826
PRODUCT_DESC                       0
SUB_PRODUCT_DESC                   0
BAL_OS                             0
AVG_BAL                            0
LAST_TRAN_DATE                559709
TOTAL_CR                     1121883
TOTAL_DR                     1141802
NO_CR                        1246622
NO_DR                        1265379
NET_FEE_INCOME                     0
NET_INTEREST_INCOME                0
CURRENCY_CD                        0
BRANCH_CD                          0
BRANCH_NAME                        0
REGION_CD                          0
REGION_NAME                        0
YEARMON                            0
SUB_PROD_ID                        0
ACCOUNT_JOINT                4298080
NO_OF_CHQ_RTN                4425724
AMOUNT_OF_CHQ_RTN            4425724
DPD                          4458735
NPA_CATEGORY                 4549301
DPD_LAST_3_MONTH             4549301
NPA_CATEGORY_LAST_3_MONTH    4549301
DPD_LAST_6_MONTH             4501203
NPA_CATEGORY_LAST_6_MONTH    4499750
LATEST_NPA_DATE              4526087
LIMIT_AMOUNT                 4341479
INCENTIVE_AMT                4140451
SCHM_CODE                     657076
SCHM_DESC                     662169
PRODUCT_GROUP                4284635
SBU_ID                             0
MATURITY_DATE                3406215
dtype: int64

In [28]:
data1.dtypes

PROD_ID                        int64
CIFNO                         object
ACCOUNT_NO                    object
ACCOUNT_STATUS                object
PRODUCT_DESC                  object
SUB_PRODUCT_DESC              object
BAL_OS                       float64
AVG_BAL                      float64
LAST_TRAN_DATE                object
TOTAL_CR                     float64
TOTAL_DR                     float64
NO_CR                        float64
NO_DR                        float64
NET_FEE_INCOME               float64
NET_INTEREST_INCOME          float64
CURRENCY_CD                   object
BRANCH_CD                      int64
BRANCH_NAME                   object
REGION_CD                      int64
REGION_NAME                   object
YEARMON                        int64
SUB_PROD_ID                    int64
ACCOUNT_JOINT                 object
NO_OF_CHQ_RTN                float64
AMOUNT_OF_CHQ_RTN            float64
DPD                          float64
NPA_CATEGORY                 float64
DPD_LAST_3_MONTH             float64
NPA_CATEGORY_LAST_3_MONTH    float64
DPD_LAST_6_MONTH             float64
NPA_CATEGORY_LAST_6_MONTH     object
LATEST_NPA_DATE               object
LIMIT_AMOUNT                 float64
INCENTIVE_AMT                float64
SCHM_CODE                     object
SCHM_DESC                     object
PRODUCT_GROUP                 object
SBU_ID                         int64
MATURITY_DATE                 object
dtype: object

In [29]:
duplicate_cif=data1[data1.duplicated(subset=["CIFNO"],keep=False)]["CIFNO"].unique()

In [30]:
if len(duplicate_cif)>0:
    print("has")
else :
    print("no")

has

In [31]:
len(duplicate_cif)

682036

In [32]:
type(data1)

pandas.core.frame.DataFrame

In [34]:
encodings_to_try = ['utf-8-sig', 'latin-1', 'ISO-8859-1']

for encoding in encodings_to_try:
    try:
        data2 = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/Prod Mast 202311 CSV.csv", encoding=encoding)
        break
    except UnicodeDecodeError:
        continue

C:\Users\15694\AppData\Local\Temp\ipykernel_34328\897987695.py:5: DtypeWarning: Columns (84,87) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/Prod Mast 202311 CSV.csv", encoding=encoding)

In [35]:
data2.shape

(5313402, 88)

In [36]:
data2.isna().sum()

CIFNO                      0
SBU_ID                     0
NICNO                 184535
CUST_NAME             184460
NPA_FLAG             5285558
                      ...
CREDIT_CARD_USAGE    5121175
PAYFAST_ACCOUNT      5307897
NII                        0
DIGITAL_APP          4493135
QSTYPE                223181
Length: 88, dtype: int64

In [37]:
data2.head(5)

,CIFNO,SBU_ID,NICNO,CUST_NAME,NPA_FLAG,NO_ACCOUNTS_SAVINGS,BAL_OS_SAVINGS,AVG_BAL_OS_SAVINGS,SIX_MONTH_BAL_OS_SAVINGS,NO_ACCOUNTS_CURRENT,...,E_BANKING_STATEMENT,SOLO_ACCOUNTS,FINACLE_ALERT,NO_DEBIT_CARDS,DEBIT_CARD_USAGE,CREDIT_CARD_USAGE,PAYFAST_ACCOUNT,NII,DIGITAL_APP,QSTYPE
0,998102132489,10,496293568V,SUMANAWATHI W D,NaN,1.0,2318.44,2318.44,2318.44,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,31.32,NaN,1.0
1,998102132569,10,821593484V,YUGESWARAN K,NaN,1.0,3212.35,758.85,1499.41,NaN,...,NaN,NaN,Y,2.0,75000.0,0.0,NaN,85.59,Y,1.0
2,998001507511,10,746372051V,S. SASHIKALADEVI,NaN,1.0,0.00,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,1.0
3,998001507446,10,767602359V,W.A.N. GEETHANJALI,NaN,1.0,487088.16,303243.05,208476.14,NaN,...,NaN,NaN,Y,2.0,NaN,NaN,NaN,3473.30,NaN,1.0
4,998000628060,10,537945334,DIAS N L,NaN,1.0,149862.10,149363.53,147708.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4061.57,NaN,30.0

In [40]:
data2.dtypes

CIFNO                 object
SBU_ID                 int64
NICNO                 object
CUST_NAME             object
NPA_FLAG              object
                      ...
CREDIT_CARD_USAGE    float64
PAYFAST_ACCOUNT       object
NII                  float64
DIGITAL_APP           object
QSTYPE                object
Length: 88, dtype: object

In [41]:
type(data2)

pandas.core.frame.DataFrame

In [42]:
duplicate_cif2=data2[data2.duplicated(subset=["CIFNO"],keep=False)]["CIFNO"].unique()

In [43]:
if len(duplicate_cif2)>0:
    print("has")
else :
    print("no")

has

In [44]:
len(duplicate_cif2)

12

In [ ]:
#since small remove

In [45]:
data2=data2.drop_duplicates()

In [28]:
data2.shape

(5313401, 88)

#### Merging CIF

In [46]:
# Merge the two dataframes based on the 'cif' variable using left join
merged_data = pd.merge(data1, data2, on='CIFNO', how='left')

In [47]:
merged_data.columns

Index(['PROD_ID', 'CIFNO', 'ACCOUNT_NO', 'ACCOUNT_STATUS', 'PRODUCT_DESC',
       'SUB_PRODUCT_DESC', 'BAL_OS', 'AVG_BAL', 'LAST_TRAN_DATE', 'TOTAL_CR',
       ...
       'E_BANKING_STATEMENT', 'SOLO_ACCOUNTS', 'FINACLE_ALERT',
       'NO_DEBIT_CARDS', 'DEBIT_CARD_USAGE', 'CREDIT_CARD_USAGE',
       'PAYFAST_ACCOUNT', 'NII', 'DIGITAL_APP', 'QSTYPE'],
      dtype='object', length=126)

In [48]:
#load new data dataset

In [49]:
#merged_data.head()

In [50]:
merged_data.shape

(4549303, 126)

In [51]:
duplicate_cif3=merged_data[merged_data.duplicated(subset=["CIFNO"],keep=False)]["CIFNO"].unique()

In [52]:
if len(duplicate_cif3)>0:
    print("has")
else :
    print("no")

has

In [56]:
merged_data1=merged_data.drop_duplicates()

In [57]:
merged_data1.shape

(4549303, 126)

In [61]:
#Save the merged data as a new CSV file or update the existing CSV file
filepath=r"C:/Users/15694/Desktop/Cross selling/code/Michelle/data.csv"
merged_data.to_csv(filepath, index=False)

In [62]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [64]:
encodings_to_try = ['utf-8-sig', 'latin-1', 'ISO-8859-1']

for encoding in encodings_to_try:
    try:
        df = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/dataCopy.csv", encoding=encoding)
        break
    except UnicodeDecodeError:
        continue

C:\Users\15694\AppData\Local\Temp\ipykernel_34328\3072196217.py:5: DtypeWarning: Columns (2,30,31,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/dataCopy.csv", encoding=encoding)

In [65]:
df.shape

(1616891, 126)

In [66]:
df['PROD_ID'].value_counts()

2    1358351
1     258540
Name: PROD_ID, dtype: int64

In [67]:
df['ACCOUNT_STATUS'].value_counts()

A       960177
D       407227
R        84754
N        50784
NORM     50205
H        18651
U        10302
L         4876
WROF      4397
NDCC      2538
EXPC      2283
BLCK      2263
O         1932
S         1589
CLSB      1440
DCC       1019
BULT       929
CLSC       617
LOST       388
NREN        40
NEW         27
EXST        18
PICK        13
LEGL        11
I            3
CRPC         3
NONE         2
VIRT         2
NCCC         1
Name: ACCOUNT_STATUS, dtype: int64

In [68]:
df['PRODUCT_DESC'].value_counts()

Savings          1172041
Time Deposits     144465
Pawning           121713
Credit Card        66196
Loan               57650
Current            41845
Lease               7609
Overdraft           5372
Name: PRODUCT_DESC, dtype: int64

In [69]:
df['SUB_PRODUCT_DESC'].value_counts()

SAVINGS - GENERAL             636705
SAVINGS - OTHERS              285110
SAVINGS - MINOR               175020
TIME DEPOSITS - LKR           138308
PAWNING                       121713
CREDIT CARDS                   66196
CURRENT ACCOUNTS               41845
SAVINGS - FCY                  27597
SAVINGS - CAPITAL              20740
TERM LOANS                     15536
PERSONAL LOANS                 13133
DEVELOPMENT LOANS               9801
SAVINGS - SAVINGS PLUS          8364
STAFF LOANS                     7783
LEASES                          7609
SAVINGS - MMKT                  7097
SAVINGS MAJOR INVESTMENT        6582
HOME LOANS                      6547
TIME DEPOSITS - FCY             6157
OVERDRAFTS                      5372
SAVINGS MINOR INVESTMENT        3746
SHORT TERM LOANS                2151
Trade Facilities                1373
REFINANCE LOANS                 1326
SAVINGS - MINOR - IBU           1072
SAVINGS - MINOR - IBU - FC         8
Name: SUB_PRODUCT_DESC, dtype: int64

In [ ]:
df['CURRENCY_CD'].value_counts()

In [ ]:
df['BRANCH_CD'].value_counts()

In [ ]:
df['REGION_CD'].value_counts()

In [ ]:
df['SUB_PROD_ID'].value_counts()

In [ ]:
df['NO_OF_CHQ_RTN'].value_counts()

In [ ]:
df['DPD'].value_counts()

In [ ]:
df['NPA_CATEGORY'].value_counts()

In [ ]:
df['DPD_LAST_3_MONTH'].value_counts()

In [ ]:
df['NPA_CATEGORY_LAST_3_MONTH'].value_counts()

In [ ]:
df['LATEST_NPA_DATE'].value_counts()

In [ ]:
df['LIMIT_AMOUNT'].value_counts()

In [ ]:
df['INCENTIVE_AMT'].value_counts()

In [ ]:
df['SCHM_CODE'].value_counts()

In [ ]:
df['SCHM_DESC'].value_counts()

In [ ]:
df['PRODUCT_GROUP'].value_counts()

In [ ]:
df['MATURITY_DATE'].value_counts()

In [ ]:
df['MATURITY_DATE'].value_counts()

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
df['SBU_ID_x'].value_counts()

In [ ]:
data1.shape

In [ ]:
df['SBU_ID_y'].value_counts()

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
df.head(10)

In [ ]:
df['NPA_FLAG'].value_counts()